<div class="comment-on-post">
  Commented on post number <a href="">{{ comment.post_id }}</a>
</div>

<div class="user-comment">
  <myblog-user
    [fullName]="comment.user.full_name"
    [email]="comment.user.email">
  </myblog-user>

  <div class="text">
    {{ comment.text }}
  </div>
</div>

<div class="comment-date">
  <div class="created-at">
    Created at: {{ comment.created_at | formatDate }}
  </div>

  <div class="updated-at">
    Last updated: {{ comment.updated_at | formatDate }}
  </div>
</div>
