<div class="leftSide">
    <ng-container *ngFor="let u of (users$ | async)">
          <myblog-user
            [fullName]="u.full_name"
            [email]="u.email"
            [picture]="u.picture"
            (click)="userClicked(u.id)">
          </myblog-user>
    </ng-container>
</div>

<div class="rightSide">
    <ng-container *ngFor="let p of (posts$ | async)">
        <myblog-post
            [post]="p"
            [summary]="true"
            (commentsClicked)="commentsClicked($event)">
        </myblog-post>
    </ng-container>
    <div>
        Sono presenti {{ numberOfArticles$ | async }} articoli di {{ numberOfUsers$ | async }} utenti.
    </div>
</div>
