:host {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 10px;
    height: 100vh;

    .leftSide {
        background-color: #eee;
        overflow: auto;
    }

    .rightSide {
        overflow: auto;
    }
}
