<div class="post-header-container">
  <div class="post-title">
      {{ post.title }}
  </div>

  <myblog-user
    [fullName]="post.user.full_name"
    [email]="post.user.email">
  </myblog-user>
</div>

<div class="post-date">
  <div class="created-at">
    Created at: {{ post.created_at | formatDate }}
  </div>

  <div class="updated-at">
    Last updated: {{ post.updated_at | formatDate }}
  </div>
</div>

<div class="text">
  {{ post.text }}
</div>

<div class="comments">
  <a href="">{{ post.comments_count }} comment(s)</a>
</div>
