<div class="post-header-container">
  <div class="post-title">
      {{ post.title }}
  </div>
  <myblog-user
    [fullName]="post.user.full_name"
    [email]="post.user.email"
    [picture]="post.user.picture">
  </myblog-user>
</div>

<div class="post-date">
  <div class="created-at">
    Created at: {{ post.created_at | formatDate }}
  </div>

  <div class="updated-at">
    Last updated: {{ post.updated_at | formatDate }}
  </div>
</div>

<div class="text">
  <ng-container *ngIf="summary">
    {{ post.text | compactText}}
  </ng-container>
  <ng-container *ngIf="!summary">
    {{ post.text }}
  </ng-container>
</div>

<div class="comments">
  <div class="comments-count">
    <button class="link" (click)="onCommentsClicked()">{{ post.comments_count }} comment(s)</button>
  </div>

 <!--  <myblog-comment [comment]="comment">
  </myblog-comment> -->
</div>
